.btn__large{
  width: 300px;
  height: 50px;
  background: #C70101;
  border-radius: 5px;
  text-align: center;
  padding-top: 17px;
  color:#fff;
  text-transform: uppercase;
  transition: .5s all ease;
  &:hover{
    transform: scale(1.1);
  }
  
}