


body{
    font-family: 'MuseoSansCyrl-700', sans-serif;
    font-family: 'MuseoModerno';


}

.container{
    width: 1920px;
    margin: 0 auto;
}


.wrapper{
    width: 950px;
    margin: 0 auto;
}


@import "header";
@import "advantages";
@import "consult";
@import "catalog";
@import "feedback";
@import "footer";
















